body {
    width: 900px;
    margin: auto auto;
}
h1 {
    font-size: 12pt;
}

h2 {
    font-size: 12pt;
}

h3 {
    font-size: 12pt;
}

body {
    font-size: 12pt;
}

p {
    font-size: 12pt;
}

div.sourceCode {
    font-size: 12pt;
}

.sourceCode pre {
    font-size: 12pt;
}

@media screen and (max-width: 480px) {

    body {
        width: 450px;
    }
    h1 {
        font-size: 14pt;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 14pt;
    }

    body {
        font-size: 14pt;
    }

    p {
        font-size: 14pt;
    }

    div.sourceCode {
        font-size: 14pt;
    }

    .sourceCode pre {
        font-size: 16pt;
    }
}

h1 {
    color: rgb(30, 103, 29);
}

h2 {
    color: #424b42;
}

h3 {
    color: #333333;
}

body {
    background-color: #eeeeee;
    font-family: "Verdana";
}

p {
    background: #fafafa;
    padding: 3px 3px 3px 5px;
}

div.sourceCode {
    background: #555555;
}

.sourceCode pre {
    color: white;
    background-color: #222222;
    padding: 10px 2px 10px 12px;
}

.sourceCode.bash {
    color: greenyellow;
    background-color: #222222;
}


.sourceCode.php {
    color: rgb(222, 207, 255);
    background-color: #222222;
}

.sourceCode pre {
    background-color: #a9a9a9;
    border: 1px dashed #ffffff;
    margin: 1px;
    white-space: pre-wrap;
}
